extends layout/base

block content
    .content
        h1.title Your posts
        .tools
            ul.tabs
                li.tab
                    a.link.active(href="#") Drafts
                li.tab
                    a.link(href="#") Published
            .search
                span.typcn.typcn-zoom
                input(type="search", name="s", placeholder="Search...")
        ul.posts
            li.post
                .date 2/12/2015
                a.title(href="") This is an amazing post
                .details
                    | By <a href="#">Asael Jaimes</a> · Filed under <a href="#">Web Design</a>
                ul.options
                    li.option
                        a.link.edit(href="")
                            span.typcn.typcn-edit
                    li.option
                        a.link.delete(href="")
                            span.typcn.typcn-trash
            li.post
                .date 2/12/2015
                a.title(href="") This is an amazing post
                .details
                    | By <a href="#">Asael Jaimes</a> · Filed under <a href="#">Web Design</a>
                ul.options
                    li.option
                        a.link.edit(href="")
                            span.typcn.typcn-edit
                    li.option
                        a.link.delete(href="")
                            span.typcn.typcn-trash
            li.post
                .date 2/12/2015
                a.title(href="") This is an amazing post
                .details
                    | By <a href="#">Asael Jaimes</a> · Filed under <a href="#">Web Design</a>
                ul.options
                    li.option
                        a.link.edit(href="")
                            span.typcn.typcn-edit
                    li.option
                        a.link.delete(href="")
                            span.typcn.typcn-trash
        
