doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href!="{{ asset('css/all.css') }}")
        block title
            title Admin
    body
        block sidebar
            include partials/sidebar
