.medium-editor-anchor-preview, .medium-editor-toolbar {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  z-index: 2000; }

@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); } }

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); } }

.medium-editor-anchor-preview {
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden; }

.medium-editor-anchor-preview a {
  color: #fff;
  display: inline-block;
  margin: 5px 5px 10px; }

.medium-editor-anchor-preview-active {
  visibility: visible; }

.medium-editor-dragover {
  background: #ddd; }

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
  animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px; }

.medium-editor-placeholder {
  position: relative; }

.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  left: 0;
  position: absolute;
  top: 0;
  white-space: pre; }

.medium-toolbar-arrow-over:before, .medium-toolbar-arrow-under:after {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0; }

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px;
  top: -8px; }

.medium-editor-toolbar {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden; }

.medium-editor-toolbar ul {
  margin: 0;
  padding: 0; }

.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.medium-editor-toolbar li button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none; }

.medium-editor-toolbar li button:focus {
  outline: 0; }

.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline; }

.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0; }

.medium-editor-toolbar-active {
  visibility: visible; }

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px; }

.medium-editor-relative-toolbar {
  position: relative; }

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
  animation: medium-editor-pop-upwards 160ms forwards linear; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form {
  display: none; }

.medium-editor-toolbar-form a, .medium-editor-toolbar-form input {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px; }

.medium-editor-toolbar-form .medium-editor-toolbar-input, .medium-editor-toolbar-form label {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block; }

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus, .medium-editor-toolbar-form label:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: 0; }

.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none; }

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table; }

[data-medium-editor-element] img {
  max-width: 100%; }

[data-medium-editor-element] sub {
  vertical-align: sub; }

[data-medium-editor-element] sup {
  vertical-align: super; }

.medium-editor-hidden {
  display: none; }

.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent;
  top: 50px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424;
  top: -8px; }

.medium-editor-toolbar {
  background-color: #242424;
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }

.medium-editor-toolbar li button {
  background-color: #242424;
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
  border: 0;
  border-right: 1px solid #000;
  border-left: 1px solid #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 50px;
  min-width: 50px;
  transition: background-color .2s ease-in; }

.medium-editor-toolbar li button:hover {
  background-color: #000;
  color: #ff0; }

.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #000;
  background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
  color: #fff; }

.medium-editor-toolbar-form {
  background: #242424;
  border-radius: 5px;
  color: #999; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #242424;
  box-sizing: border-box;
  color: #ccc;
  height: 50px; }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #242424;
  border-radius: 5px;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #b3b3b1; }

/*! 
 * medium-editor-insert-plugin v2.1.1 - jQuery insert plugin for MediumEditor
 *
 * https://github.com/orthes/medium-editor-insert-plugin
 * 
 * Copyright (c) 2014 Pavel Linkesch (http://linkesch.sk)
 * Released under the MIT license
 */
.medium-insert-images, .mediumInsert {
  text-align: center; }

.medium-insert-images figure, .mediumInsert figure {
  margin: 0;
  display: block; }

.medium-insert-images figure img, .mediumInsert figure img {
  max-width: 100%;
  margin-top: 1em;
  vertical-align: top; }

.medium-insert-images figure:first-child img, .mediumInsert figure:first-child img {
  margin-top: 0; }

.medium-insert-images.medium-insert-images-left, .medium-insert-images-left.mediumInsert, .mediumInsert.small {
  max-width: 33.33%;
  float: left;
  margin: 0 30px 20px 0; }

.medium-insert-images.medium-insert-images-right, .medium-insert-images-right.mediumInsert {
  max-width: 33.33%;
  float: right;
  margin: 0 0 20px 30px; }

.medium-insert-images.medium-insert-images-grid, .medium-insert-images-grid.mediumInsert {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: .5em -.5em; }

.medium-insert-images.medium-insert-images-grid figure, .medium-insert-images-grid.mediumInsert figure {
  width: 33.33%;
  display: inline-block; }

.medium-insert-images.medium-insert-images-grid figure img, .medium-insert-images-grid.mediumInsert figure img {
  max-width: calc(100% - 1em);
  margin: .5em; }

.medium-insert-embeds, .mediumInsert-embeds {
  text-align: center;
  margin: 1em 0;
  position: relative; }

.medium-insert-embeds iframe, .mediumInsert-embeds iframe, .medium-insert-embeds div, .mediumInsert-embeds div {
  margin: 0 auto !important; }

.medium-insert-embeds.medium-insert-embeds-left, .medium-insert-embeds-left.mediumInsert-embeds {
  width: 33.33%;
  float: left;
  margin: 0 30px 20px 0; }

.medium-insert-embeds.medium-insert-embeds-right, .medium-insert-embeds-right.mediumInsert-embeds {
  width: 33.33%;
  float: right;
  margin: 0 0 20px 30px; }

.medium-insert-images figure, .mediumInsert figure, .medium-insert-embeds figure, .mediumInsert-embeds figure {
  position: relative; }

.medium-insert-images figure figcaption, .mediumInsert figure figcaption, .medium-insert-embeds figure figcaption, .mediumInsert-embeds figure figcaption {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  margin: 10px 0;
  color: #ccc;
  font-size: .8em;
  font-style: italic;
  outline: 0 solid transparent; }

.medium-insert-images figure figcaption:focus, .mediumInsert figure figcaption:focus, .medium-insert-embeds figure figcaption:focus, .mediumInsert-embeds figure figcaption:focus {
  outline: 0 solid transparent; }

.medium-editor-insert-plugin {
  outline: 0 solid transparent; }

.medium-editor-insert-plugin:focus {
  outline: 0 solid transparent; }

.medium-editor-insert-plugin .clearfix:before, .medium-editor-insert-plugin:before, .medium-editor-insert-plugin .clearfix:after, .medium-editor-insert-plugin:after {
  content: " ";
  display: table;
  clear: both; }

.medium-editor-insert-plugin p {
  margin: 1em 0; }

.medium-editor-insert-plugin progress {
  display: block;
  margin: 1em auto; }

.medium-editor-insert-plugin .hide {
  display: none; }

.medium-editor-insert-plugin.medium-editor-placeholder:after {
  padding: 1em 0; }

.medium-editor-insert-plugin .medium-insert-buttons {
  position: absolute;
  color: #ddd;
  font-size: .9em; }

.medium-editor-insert-plugin .medium-insert-buttons a {
  text-decoration: underline;
  cursor: pointer; }

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
  box-sizing: border-box;
  display: block;
  width: 32px;
  height: 32px;
  margin-top: -5px;
  border-radius: 20px;
  border: 1px solid;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  background: #fff;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: -webkit-transform 100ms;
  transition: transform 100ms; }

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show.medium-insert-buttons-rotate {
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: relative;
  z-index: 2;
  left: 55px;
  top: -32px; }

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li {
  display: inline-block;
  background-color: #fff; }

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li a {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 5px;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 1px solid;
  font-size: 20px;
  line-height: 28px;
  text-align: center; }

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li a .fa {
  font-size: 15px; }

.medium-insert-caption-placeholder {
  position: relative; }

.medium-insert-caption-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  content: attr(data-placeholder); }

.dragging {
  cursor: move; }

.medium-insert-image-active {
  outline: 2px solid #000; }

.medium-insert-images-toolbar {
  display: none; }

.medium-insert-images, .mediumInsert {
  margin: 1em 0; }

.medium-insert-images .dragged, .mediumInsert .dragged {
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 2000; }

.medium-insert-images .placeholder, .mediumInsert .placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }

.medium-insert-images .medium-insert-images-progress, .mediumInsert .medium-insert-images-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4); }

.medium-insert-embeds-input {
  position: relative;
  color: #ccc;
  z-index: 1;
  text-align: left; }

.medium-insert-embeds-placeholder {
  position: relative; }

.medium-insert-embeds-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder);
  color: #ccc; }

.medium-insert-embeds-selected .medium-insert-embed {
  outline: 2px solid #000; }

.medium-insert-embeds-toolbar {
  display: none; }

.medium-insert-embeds .medium-insert-embeds-overlay, .mediumInsert-embeds .medium-insert-embeds-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/* ----------------------------------------------------------------------------- 

  jQuery DateTimePicker - Responsive flat design jQuery DateTime Picker plugin for Web & Mobile
  Version 0.1.25
  Copyright (c)2015 Curious Solutions LLP and Neha Kadam
  http://curioussolutions.github.io/DateTimePicker
  https://github.com/CuriousSolutions/DateTimePicker

 ----------------------------------------------------------------------------- */
.dtpicker-overlay {
  z-index: 2000;
  display: none;
  min-width: 300px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dtpicker-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.dtpicker-overlay * {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.dtpicker-bg {
  width: 100%;
  height: 100%;
  font-family: Arial; }

.dtpicker-cont {
  border: 1px solid #ECF0F1; }

.dtpicker-mobile .dtpicker-cont {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0; }

.dtpicker-content {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 500px;
  background: #fff; }

.dtpicker-mobile .dtpicker-content {
  width: 97%; }

.dtpicker-subcontent {
  position: relative; }

.dtpicker-header {
  margin: .2em 1em; }

.dtpicker-header .dtpicker-title {
  color: #2980B9;
  text-align: center;
  font-size: 1.1em; }

.dtpicker-header .dtpicker-close {
  position: absolute;
  top: -.7em;
  right: .3em;
  padding: .5em .5em 1em 1em;
  color: #FF3B30;
  font-size: 1.5em;
  cursor: pointer; }

.dtpicker-header .dtpicker-close:hover {
  color: #FF3B30; }

.dtpicker-header .dtpicker-value {
  padding: .8em .2em .2em;
  color: #FF3B30;
  text-align: center;
  font-size: 1.4em; }

.dtpicker-components {
  overflow: hidden;
  margin: 1em;
  font-size: 1.3em; }

.dtpicker-components * {
  margin: 0;
  padding: 0; }

.dtpicker-components .dtpicker-compOutline {
  display: inline-block;
  float: left; }

.dtpicker-comp2 {
  width: 50%; }

.dtpicker-comp3 {
  width: 33.3%; }

.dtpicker-comp4 {
  width: 25%; }

.dtpicker-comp5 {
  width: 20%; }

.dtpicker-comp6 {
  width: 16.66%; }

.dtpicker-comp7 {
  width: 14.285%; }

.dtpicker-components .dtpicker-comp {
  margin: 2%;
  text-align: center; }

.dtpicker-components .dtpicker-comp > * {
  display: block;
  height: 30px;
  color: #2980B9;
  text-align: center;
  line-height: 30px; }

.dtpicker-components .dtpicker-comp > :hover {
  color: #2980B9; }

.dtpicker-components .dtpicker-compButtonEnable {
  opacity: 1; }

.dtpicker-components .dtpicker-compButtonDisable {
  opacity: .5; }

.dtpicker-components .dtpicker-compButton {
  background: #FFF;
  font-size: 140%;
  cursor: pointer; }

.dtpicker-components .dtpicker-compValue {
  margin: .4em 0;
  width: 100%;
  border: 0;
  background: #FFF;
  font-size: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }

.dtpicker-overlay .dtpicker-compValue:focus {
  outline: 0;
  background: #F2FCFF; }

.dtpicker-buttonCont {
  overflow: hidden;
  margin: .2em 1em; }

.dtpicker-buttonCont .dtpicker-button {
  display: block;
  padding: .6em 0;
  width: 47%;
  background: #FF3B30;
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer; }

.dtpicker-buttonCont .dtpicker-button:hover {
  color: #FFF; }

.dtpicker-singleButton .dtpicker-button {
  margin: .2em auto; }

.dtpicker-twoButtons .dtpicker-buttonSet {
  float: left; }

.dtpicker-twoButtons .dtpicker-buttonClear {
  float: right; }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent;
      border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none; }

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

/* Reset */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Lato:400italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  position: relative;
  width: 100%; }

img {
  vertical-align: bottom; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  font-size: 100%; }

/* Reset HTML5 Search Input in Webkit */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }
  a:hover {
    cursor: pointer; }

html {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  font-size: 14px; }

.btn {
  display: inline-block;
  padding: 0.4em 0.8em;
  color: white;
  border: 0;
  border-radius: 0.2142857143em;
  font-size: 15px;
  font-size: 1.0714285714rem;
  position: relative; }
  .btn:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease; }
  .btn.blue {
    background: #3498DB; }
    .btn.blue:active {
      background: #1d6fa5; }
  .btn.green {
    background: #1ABC9C; }
    .btn.green:active {
      background: #117964; }

/* Animations */
.sidebar {
  width: 17.1428571429em;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  .sidebar .profile {
    content: " ";
    display: table;
    clear: both;
    width: 100%;
    padding-left: 2em;
    padding-bottom: 1em; }
    .sidebar .profile .details {
      border-bottom: 1px solid #ECF0F1;
      position: relative;
      padding-top: 2em;
      padding-bottom: 2em; }
      .sidebar .profile .details .photo {
        float: left;
        height: 2.5714285714rem;
        width: 2.5714285714rem;
        overflow: hidden;
        border-radius: 0.2142857143rem;
        margin-right: 1em; }
        .sidebar .profile .details .photo .img {
          width: 100%; }
      .sidebar .profile .details .typcn {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 20px;
        font-size: 1.4285714286rem;
        color: #6A8AAA; }
      .sidebar .profile .details .title {
        font-size: 14px;
        font-size: 1rem;
        color: #34495E;
        margin-bottom: 0.3em; }
      .sidebar .profile .details .name {
        font-size: 13px;
        font-size: 0.9285714286rem;
        color: #6A8AAA; }
  .sidebar .nav .options .option {
    margin: 0.5em 0; }
    .sidebar .nav .options .option .link {
      display: block;
      color: #34495E;
      font-size: 14px;
      font-size: 1rem;
      padding: 0.5em 1em 0.5em 2.5em;
      border-radius: 0 3px 3px 0;
      transition: all 0.3s ease; }
      .sidebar .nav .options .option .link:hover, .sidebar .nav .options .option .link.active {
        background: #3498DB;
        color: white;
        transition: all 0.3s ease;
        padding-left: 2.8em; }
        .sidebar .nav .options .option .link:hover .typcn, .sidebar .nav .options .option .link.active .typcn {
          color: white;
          transition: all 0.3s ease; }
      .sidebar .nav .options .option .link .typcn {
        color: #6A8AAA;
        font-size: 20px;
        font-size: 1.4285714286rem;
        margin-right: 0.5em; }

.panel {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  width: 25rem;
  height: 100%;
  box-shadow: 1px -10px 8px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.3s ease;
  overflow-y: auto; }
  .panel.revealed {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.3s ease; }
  .panel .title {
    content: " ";
    display: table;
    clear: both;
    font-size: 18px;
    font-size: 1.2857142857rem;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ECF0F1;
    width: 100%; }
    .panel .title .btn {
      top: -0.3571428571rem;
      float: right; }

.form .group {
  margin-bottom: 1.5em;
  content: " ";
  display: table;
  clear: both;
  width: 100%; }
  .form .group .label {
    font-size: 13px;
    font-size: 0.9285714286rem;
    color: #34495E;
    text-transform: uppercase; }
  .form .group .input {
    border: 2px solid #C2CFD0;
    border-radius: 0.2142857143rem;
    padding: 0.5em 0.8em;
    width: 100%;
    font-size: 16px;
    font-size: 1.1428571429rem;
    resize: none; }
    .form .group .input:focus {
      border: 2px solid #3498DB;
      transition: all 0.3s ease; }
  .form .group .file {
    margin-top: 0.5em; }
  .form .group .img-preview {
    width: 100%;
    border-radius: 0.2142857143rem;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    margin-top: 1em; }
  .form .group .onoffswitch-styled {
    float: right;
    position: relative;
    width: 2.5rem; }
    .form .group .onoffswitch-styled .onoffswitch {
      display: none; }
      .form .group .onoffswitch-styled .onoffswitch:checked + .onoffswitch-label {
        background-color: #1ABC9C; }
      .form .group .onoffswitch-styled .onoffswitch:checked + .onoffswitch-label, .form .group .onoffswitch-styled .onoffswitch:checked + .onoffswitch-label:before {
        border-color: #1ABC9C; }
      .form .group .onoffswitch-styled .onoffswitch:checked + .onoffswitch-label:before {
        right: 0; }
    .form .group .onoffswitch-styled .onoffswitch-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      height: 1.4285714286rem;
      padding: 0;
      line-height: 1.4285714286rem;
      border: 2px solid #C2CFD0;
      border-radius: 1.4285714286rem;
      background: #C2CFD0;
      transition: background-color 0.1s ease-in; }
      .form .group .onoffswitch-styled .onoffswitch-label:before {
        content: "";
        display: block;
        width: 1.4285714286rem;
        margin: 0;
        background: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1.0714285714rem;
        border: 2px solid #C2CFD0;
        border-radius: 1.4285714286rem;
        transition: all 0.1s ease-in 0s; }
  .form .group .select-styled {
    position: relative; }
    .form .group .select-styled .typcn {
      position: absolute;
      top: 50%;
      right: 0.3em;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 18px;
      font-size: 1.2857142857rem;
      color: #6A8AAA;
      pointer-events: none; }
    .form .group .select-styled .select {
      background: transparent;
      background-image: url(../img/select-down.png) no-repeat right;
      width: 100%;
      padding: 0.5em;
      font-size: 16px;
      font-size: 1.1428571429rem;
      line-height: 1;
      border: 2px solid #C2CFD0;
      border-radius: 0.2142857143rem;
      height: 2.4285714286rem;
      -webkit-appearance: none; }

.select2-container {
  width: 100%; }
  .select2-container.select2-container--default .select2-selection--multiple {
    border: 2px solid #C2CFD0; }
    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__choice {
      border: 1px solid #C2CFD0;
      background-color: #ECF0F1;
      color: #34495E;
      padding: 0.3em; }
      .select2-container.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
        color: #E74C3C; }
  .select2-container.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 2px solid #3498DB; }

.content {
  height: 100%;
  margin-left: 17.1428571429em;
  padding: 2em; }
  .content > .title {
    font-size: 24px;
    font-size: 1.7142857143rem;
    color: #34495E;
    margin-bottom: 1em; }

.content .tools {
  content: " ";
  display: table;
  clear: both;
  border-bottom: 1px solid #ECF0F1;
  width: 100%;
  margin-bottom: 1em; }
  .content .tools .tabs {
    content: " ";
    display: table;
    clear: both;
    float: left; }
    .content .tools .tabs .tab {
      float: left; }
      .content .tools .tabs .tab .link {
        display: block;
        padding: 0 1em 0.5em 1em; }
        .content .tools .tabs .tab .link.active {
          color: #3498DB;
          border-bottom: 3px solid #3498DB; }
  .content .tools .search {
    float: right;
    padding: 0 1em;
    border-bottom: 3px solid #ECF0F1; }
    .content .tools .search .typcn {
      color: #6A8AAA;
      font-size: 20px;
      font-size: 1.4285714286rem; }
    .content .tools .search input {
      border: 0;
      color: #6A8AAA; }

.content .posts {
  display: none; }
  .content .posts.active {
    display: block; }
  .content .posts .post {
    position: relative;
    border-bottom: 1px solid #ECF0F1;
    padding: 1em 0;
    transition: all 0.3s ease; }
    .content .posts .post:hover {
      padding-left: 0.3em;
      transition: all 0.3s ease; }
      .content .posts .post:hover .options {
        opacity: 1;
        filter: alpha(opacity=100);
        padding-right: 0.5em;
        transition: all 0.3s ease; }
    .content .posts .post .date {
      font-size: 12px;
      font-size: 0.8571428571rem;
      color: #95A5A6; }
    .content .posts .post .title {
      display: inline-block;
      font-size: 18px;
      font-size: 1.2857142857rem;
      margin: 0.5em 0; }
    .content .posts .post .details {
      font-family: 'Lato';
      font-style: italic;
      color: #95A5A6; }
      .content .posts .post .details a {
        color: #6A8AAA; }
    .content .posts .post .options {
      opacity: 0;
      filter: alpha(opacity=0);
      content: " ";
      display: table;
      clear: both;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: all 0.3s ease; }
      .content .posts .post .options .option {
        float: left;
        margin-left: 1em; }
        .content .posts .post .options .option .link {
          color: #6A8AAA;
          font-size: 20px;
          font-size: 1.4285714286rem; }
          .content .posts .post .options .option .link.delete {
            color: #E74C3C; }

.editor {
  width: 57.1428571429rem;
  margin: 0 auto; }
  .editor .title {
    border-bottom: 1px solid #ECF0F1; }
    .editor .title .options {
      float: right;
      margin-bottom: 0.5em; }
      .editor .title .options .settings {
        font-size: 26px;
        font-size: 1.8571428571rem;
        color: #6A8AAA;
        position: relative;
        top: 0.2142857143rem;
        transition: all 0.3s ease; }
        .editor .title .options .settings:hover {
          opacity: 0.8;
          transition: all 0.3s ease; }
    .editor .title #input-title {
      border: 0;
      font-size: 24px;
      font-size: 1.7142857143rem;
      color: #34495E;
      width: 100%;
      padding-bottom: 0.5em;
      font-family: 'Lora', Georgia, serif; }
  .editor .body {
    padding-top: 2em; }
    .editor .body .editable {
      border: 0;
      width: 100%;
      resize: none;
      color: #34495E;
      font-family: 'Lora', Georgia, serif;
      font-size: 18px;
      font-size: 1.2857142857rem;
      line-height: 1.5em; }
      .editor .body .editable h1 {
        font-size: 2.39976rem;
        margin: 0.5em 0;
        line-height: 1.3; }
      .editor .body .editable h2 {
        font-size: 1.9998rem;
        margin: 0.5em 0;
        line-height: 1.3; }
      .editor .body .editable h3 {
        font-size: 1.59984rem;
        margin: 0.5em 0;
        line-height: 1.3; }
      .editor .body .editable h4 {
        font-size: 1.19988rem;
        margin: 0.5em 0;
        line-height: 1.3; }
      .editor .body .editable h5 {
        font-size: 0.79992rem;
        margin: 0.5em 0;
        line-height: 1.3; }
      .editor .body .editable h6 {
        font-size: 0.39996rem;
        margin: 0.5em 0;
        line-height: 1.3; }
      .editor .body .editable blockquote {
        color: #6A8AAA;
        font-size: 20px;
        font-size: 1.4285714286rem;
        padding-left: 0.5em;
        border-left: 3px solid #ECF0F1; }
      .editor .body .editable ol, .editor .body .editable ul {
        padding-left: 1em; }
      .editor .body .editable ol {
        list-style: decimal; }
      .editor .body .editable ul {
        list-style: disc; }
      .editor .body .editable p span[style] {
        font-size: inherit !important;
        line-height: inherit !important; }
      .editor .body .editable:hover {
        cursor: text; }
