$sidebar-width: em(240px)
.sidebar
    width: $sidebar-width
    height: 100%
    position: fixed
    top: 0
    left: 0
    .profile
        +clear
        width: 100%
        padding:
            left: 2em
            bottom: 1em
        .details
            border-bottom: 1px solid $clouds
            position: relative
            padding:
                top: 2em
                bottom: 2em
            .photo
                float: left
                height: rem(36px)
                width: rem(36px)
                overflow: hidden
                border-radius: rem(3px)
                margin-right: 1em
                .img
                    width: 100%
            .typcn
                position: absolute
                top: 50%
                right: 0
                transform: translateY(-50%)
                +font-size(20px)
                color: $light
            .title
                +font-size(14px)
                color: $dark
                margin-bottom: 0.3em
            .name
                +font-size(13px)
                color: $light
    .nav
        .options
            .option
                margin: 0.5em 0
                .link
                    display: block
                    color: $dark
                    +font-size(14px)
                    padding: 0.5em 1em 0.5em 2.5em
                    border-radius: 0 3px 3px 0
                    transition: all 0.3s ease
                    &:hover, &.active
                        background: $blue
                        color: white
                        transition: all 0.3s ease
                        padding-left: 2.8em
                        .typcn
                            color: white
                            transition: all 0.3s ease
                    .typcn
                        color: $light
                        +font-size(20px)
                        margin-right: 0.5em
