aside.sidebar
    .profile
        .photo
            img.img(src="https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/48.jpg")
        .title Personal Blog
        .name Brenda Graham
    .search
        input(type="search", name="s")
    nav.nav
        ul.options
            li.option
                a.link(href="#") New Post
            li.option
                a.link(href="#") Content
            li.option
                a.link(href="#") Team
            li.option
                a.link(href="#") Settings
