aside.sidebar
    .profile
        .details
            .photo
                img.img(src="https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/48.jpg")
            .title Personal Blog
            .name Brenda Graham
            span.typcn.typcn-arrow-sorted-down
    nav.nav
        ul.options
            li.option
                a.link.active(href="#") 
                    span.typcn.typcn-pen
                    | New Post
            li.option
                a.link(href="#")
                    span.typcn.typcn-document-text
                    | Content
            li.option
                a.link(href="#") 
                    span.typcn.typcn-cog
                    | Settings
